#Binary files
bin/**

**/.DS_Store
**/*.dSYM

#Replit
.ccls-cache/
.replit
replit.nix

#compiled c++ code
main

#test cases
*.txt

# Executables
*.exe
*.out
*.app

#Vscode
.vscode

# C++ File to practice revision
revision.cpp